/* font-family: 'Montserrat', sans-serif; */

@font-face {
    font-family: "AvenirNext";
    src: url("../fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: "AvenirNext-medium";
    src: url("../fonts/avenir-next-medium.ttf") format("truetype");
}

@font-face {
    font-family: "AvenirNext-semiBold";
    src: url("../fonts/avenir-next-demi.ttf") format("truetype");
}
